extends ../base.pug

block variables
    - var template = 'about'

block content
    .about
      .about__wrapper
        section.about__header
          .about__header__title
            h1.about__header__title__text(data-animation="title")!=about.header.title.replace(/\n/g, '<br>')
          .about__header__media
            figure.about__media__figure
              img.about__media__figure__image(data-src=Build.image(about.header.image.asset._ref).url() alt=about.header.image.alt)

        section.about__background
            .about__background__gc
              .about__background__gc__smdesc
                .about__background__gc__smdesc__div
                  p.about__background__gc__smdesc__div__text(data-animation="paragraph")=about.background.description
              .about__background__gc__bg__title
                h2.about__background__gc__bg__title__text(data-animation="vertical")=about.background.title
              .about__background__desc
                each desc in about.background.list
                  .about__background__desc__frame
                    p.about__background__desc__frame__text(data-animation='label')=desc

        section.about__clients
          .about__clients__title
            h2.about__clients__title__text(data-animation="title")=about.selected_clients.title
          .about__clients__gallery
            .about__clients__gallery__wrapper
              each client in about.selected_clients.clients
                .about__clients__gallery__client
                  p.about__clients__gallery__client__name(data-animation='label')=client

        section.about__desc
          .about__desc__gc
            .about__desc__gc__title
              h2.about__desc__gc__title__text(data-animation="vertical")=about.about_main.title
            .about__desc__gc__desc
              p.about__desc__gc__desc__text!=about.about_main.description.replace(/\n/g, '<br>')
          .about__desc__location
            p.about__desc__location__text(data-animation="vertical")=about.about_main.location

        section.about__press
          .about__press__title
            h2.about__press__title__text(data-animation='title')=about.press.title
          .about__press__content
            each obj in about.press.links
              .about__press__content__div.outside__link
                p.about__press__content__div__title(data-animation='label')=obj.name
                  a.about__press__content__div__title__link(href=(obj.url))

        section.about__contact
          .about__contact__title
            h2.about__contact__title__text(data-animation='title')=about.contact.title
          .about__contact__details
            p.about__contact__details__copied=about.contact_copy_message
            p.about__contact__details__text(data-animation="label")=about.contact.email
          .about__contact__icons
            each obj in about.contact.icons
              .about__contact__icons__icon
                .about__contact__icons__icon__div.outside__link
                  a.about__contact__icons__icon__div__link(href=(obj.link))
                  img.about__contact__icons__icon__image(data-src=Build.image(obj.asset._ref).url() alt=obj.alt)

        section.about__footer
          .about__footer__media
            figure.about__media__figure
              img.about__media__figure__image(data-src=Build.image(about.footer.image.asset._ref).url() alt=about.footer.image.alt)
          .about__footer__title
            p.about__footer__title__text(data-animation='title')=about.footer.title


