extends ../base.pug

block variables
    - var template = 'commercial'

block content
  .commercial

  .menu
    .menu__title
      .menu__title__wrapper 
        h1.menu__title__text=commercial.title
        span.menu__title__text=commercial.title
        span.menu__title__text=commercial.title
        span.menu__title__text=commercial.title
    .menu__wrapper
      .menu__gallery
        each obj, index in commercial.showcase
          .menu__gallery__image
            if device === 'desktop'
              span.menu__gallery__image__top
              span.menu__gallery__image__left
              span.menu__gallery__image__right
              span.menu__gallery__image__bottom
            a.menu__gallery__image__link(href=Link=(`${obj._type}/${obj.slug}`) aria-label=obj.title)
              figure.menu__gallery__image__figure
                img.menu__gallery__image__figure__image(alt=obj.image.alt data-src=Build.image(obj.image.asset._ref).url())

    .menu__right
      if device === 'desktop' 
        .menu__right__desktop
          .menu__right__desktop__comp
            p.menu__right__desktop__comp__slash=`|`           
            p.menu__right__desktop__comp__length=`00.${commercial.showcase.length - 1}` 
          .menu__right__desktop__objects
            each obj, index in commercial.showcase
              .menu__right__desktop__object
                .menu__right__desktop__index
                  p.menu__right__desktop__index__zero=`00.`                  
                  p.menu__right__desktop__index__text=`${index}`                  
                .menu__right__desktop__length 
                  p.menu__right__desktop__length__text=`${obj.images.length}`
                .menu__right__desktop__title
                  h2.menu__right__desktop__title__text!=obj.title.replace(/\s/, '<br>')
                .menu__right__desktop__images
                  each img, idx in obj.images 
                    if idx > 0 && idx < 5
                      .menu__right__desktop__image 
                        figure.menu__right__desktop__image__figure
                          img.menu__right__desktop__image__figure__image(alt=img.alt data-src=Build.image(img.asset._ref).url())
      else
        .menu__right__phone
          .menu__right__phone__outer
            .menu__right__phone__inner
              each obj, index in commercial.showcase
                .menu__right__phone__title
                  h2.menu__right__phone__title__text=obj.title
