extends ../base.pug

block variables
    - var template = 'gallery'

block content
  .gallery
    .gallery__title 
      h2.gallery__title__text=gallery.title
    .gallery__media
      .gallery__wrapper
        each img in gallery.images
          .gallery__media__div
            figure.gallery__media__div__figure
              img.gallery__media__div__figure__image(data-src=Build.image(img.asset._ref).url() alt=img.alt)

    .gallery__info
      h1.gallery__info__title!=gallery.title.replace(/\s/, '<br>')        
      if gallery.project_description
        p.gallery__info__desc!=gallery.project_description.replace(/\n/g, '<br>')

    .gallery__back
      .gallery__back__button

    .gallery__modal
      .gallery__modal__selected
        figure.gallery__modal__selected__figure
          img.gallery__modal__selected__figure__image(src='' alt='')
      .gallery__modal__text
        p.gallery__modal__text__close=gallery.close
      .gallery__modal__images
        .gallery__modal__images__wrapper
          each img in gallery.images
            .gallery__modal__images__div
              span.gallery__modal__images__div__top 
              span.gallery__modal__images__div__bottom 
              .gallery__modal__images__div__media
                figure.gallery__modal__images__div__media__figure 
                  img.gallery__modal__images__div__media__figure__image(data-src=Build.image(img.asset._ref).url() alt=img.alt)