extends ../base.pug

block variables
    - var template = 'home'

block content
  .home
    .home__title 
      h1.home__title__text=home.name
    .home__gallery
      .home__gallery__showcase 
        each obj, index in home.showcase
          .home__gallery__image(data-index=index)
            a.home__gallery__image__link(href=Link=(`${obj._type}/${obj.slug}`) aria-label=obj.title)
              figure.home__gallery__image__figure
                if(obj.preview)
                  img.home__gallery__image__figure__image(alt=obj.preview.alt data-src=Build.image(obj.preview.asset._ref).url())
                else 
                  img.home__gallery__image__figure__image(alt=obj.image.alt data-src=Build.image(obj.image.asset._ref).url())