extends ../base.pug

block variables
    - var template = 'home'

block content
  .home
    .home__logo
      figure.home__logo__figure
        img.home__logo__figure__image(data-src=Build.image(home.logo.asset._ref).url() alt=home.logo.alt)

    .home__gallery
      .home__gallery__wrapper

        .home__gallery__showcase
          each obj in home.showcase
            .home__gallery__image
              a.home__gallery__image__link(href=Link=(`${obj._type}/${obj.slug.current}`) aria-label=obj.title)
                figure.home__gallery__image__figure
                  if(obj.preview)
                    img.home__gallery__image__figure__image(alt=obj.preview.alt data-src=Build.image(obj.preview.asset._ref).url())
                  else 
                    img.home__gallery__image__figure__image(alt=obj.images[0].alt data-src=Build.image(obj.images[0].asset._ref).url())


