extends ../base.pug

block variables
    - var template = 'shortFilms'

block content
  .shortFilms

  .menu
    .menu__title
      .menu__title__wrapper
        h1.menu__title__text=shortFilms.title
        span.menu__title__text=shortFilms.title
        span.menu__title__text=shortFilms.title
        span.menu__title__text=shortFilms.title
    .menu__wrapper
      .menu__gallery
        each obj, index in shortFilms.showcase
          .menu__gallery__image
            if device === 'desktop'
              span.menu__gallery__image__top
              span.menu__gallery__image__bottom
            a.menu__gallery__image__link(href=Link=(`${obj._type}/${obj.slug}`) aria-label=obj.title)
              figure.menu__gallery__image__figure
                img.menu__gallery__image__figure__image(alt=obj.preview.alt data-src=Build.image(obj.preview.asset._ref).url())

    .menu__right
      if device === 'desktop' 
        .menu__right__desktop
          .menu__right__desktop__comp
            p.menu__right__desktop__comp__slash=`|`           
            p.menu__right__desktop__comp__length=`00.${shortFilms.showcase.length - 1}` 
          .menu__right__desktop__objects
            each obj, index in shortFilms.showcase
              .menu__right__desktop__object
                .menu__right__desktop__index
                  p.menu__right__desktop__index__zero=`00.`                  
                  p.menu__right__desktop__index__text=`${index}`                  
                .menu__right__desktop__length 
                  p.menu__right__desktop__length__text=obj.duration
                .menu__right__desktop__title
                  h2.menu__right__desktop__title__text=obj.title
      else
        .menu__right__phone
          .menu__right__phone__outer
            .menu__right__phone__inner
              each obj, index in shortFilms.showcase
                .menu__right__phone__title
                  h2.menu__right__phone__title__text=obj.title
